<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
    <div>
        <a href="{% url 'logout' %}">Log out</a>
    </div>
    <center>
        <div>
            <h2 style="background-color: #eee;">Intellial</h2>
        </div>
    </center>
    <center>
        <div>
            <h3 id="postbtn" class="text-primary mb-1">Compose</h3>
        </div>
        <form action="{% url 'compose_post'  %}" method="post">
            {% csrf_token %}
            <div style="display: none;" id="postform">
                <div>
                    <h2>Compose New Post</h2>
                    <a href="#" id="cancel">cancel</a>
                </div>
                <div>
                    <textarea name="message" placeholder="Write a post" cols="60" rows="5" required></textarea>
                </div>

                <div class="small d-flex justify-content-center">
                    <input type="submit" value="POST">
                    <button type="reset" class="btn btn-light" style="margin-left: 10px;">Cancel</button>
                </div>
            </div>
        </form>
    </center>
    <section style="background-color: #eee;">
        {% for i in post %}
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-start align-items-center">
                                <div>
                                    <h2 class="fw-bold text-primary mb-1">{{i.user__username}}</h2>
                                    <p class="text-muted small mb-0">
                                        {{i.created}}
                                    </p>
                                </div>
                                <a href="{% url 'post_with_comment' id=i.id %}" style="margin-left: 20px;">All comments
                                </a>
                                {% if request.user.username == i.user__username %}
                                <a href="{% url 'post_delete' id=i.id %}" style="margin-left: 500px;">X</a>

                                {% endif %}
                            </div>
                            <p class="mt-3 mb-4 pb-2">{{i.post_message}}
                            </p>

                            <div class="small d-flex justify-content-start">
                                <form action="{% url 'like' id=i.id %}" method="post">
                                    {% csrf_token %}
                                    <button type='submit' name='like' value="{{ i.id }}" id="like"
                                        class="btn btn-primary">like</button>
                                </form>
                            </div>
                            {% for like in likes %}
                            {% if like.post == i.id %}

                            <p class="total">{{like.like}}</p>
                            {% endif %}
                            {% endfor %}

                            <form action="{% url 'comment_on_post' id=i.id %}" method="post">
                                {% csrf_token %}
                                <div class="div">
                                    <input type="text" name="comment" class="comment" placeholder="write a comment...."
                                        required>
                                    <button type=" submit">POST</button>
                                </div>
                            </form>
                            <div class="main">
                                <p class="comment">Comment</p>

                                {% for comment in comments %}
                                {% if comment.post_id == i.id %}
                                <div style="border: 2px solid black;display: none;" class="allcom">
                                    <div>

                                        <h4 class="fw-bold text-primary mb-0">{{comment.user__username}}</h4>
                                        {% if request.user.username == comment.user__username %}
                                        <p>{{comment.id}}</p>
                                        <a href="#" style="margin-left: 500px;" value="{{comment.id}}">X</a>

                                        {% endif %}
                                        <p class="text-muted small mb-0">{{comment.created}}</p>
                                    </div>
                                    <p class="mt-3 mb-0 pb-2">{{comment.comment}}
                                    </p>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </section>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
<script>
    $(document).ready(function () {
        $('#postbtn').click(function () {
            $('#postform').show();

        });
        $('#cancel').click(function () {
            $('#postform').hide();
        });
        $('.comment').click(function () {
            $('.allcom').hide();
            $(this).parent('.main').find('.allcom').show();
        });

    });
</script>